Repository allure-framework/allure-csharp, changes with the labels that .github/labeler.yml gives for each.
All labels: theme:workflow, theme:build, theme:core, theme:xunit, theme:nunit, theme:specflow

.github/labeler.yml:

"theme:workflow":
  - changed-files:
    - any-glob-to-any-file: ".github/**"

"theme:build":
  - changed-files:
    - any-glob-to-any-file:
      - "*.sln"
      - "**/*.csproj"
      - "Directory.Build.props"
      - ".gitignore"

"theme:core":
  - changed-files:
    - any-glob-to-any-file:
      - "Allure.Net.Commons/**"
      - "Allure.Net.Commons.Tests/**"

"theme:xunit":
  - changed-files:
    - any-glob-to-any-file:
      - "Allure.XUnit/**"
      - "Allure.XUnit.Tests/**"

"theme:nunit":
  - changed-files:
    - any-glob-to-any-file:
      - "Allure.NUnit/**"
      - "Allure.NUnit.Tests/**"

"theme:specflow":
  - changed-files:
    - any-glob-to-any-file:
      - "Allure.Features/**"
      - "Allure.SpecFlowPlugin/**"
      - "Allure.SpecFlowPlugin.Tests/**"

Remove stale files from the repo
  .gitattributes
  Allure.Commons.NetCore.Nuget.Tests/Allure.Commons.NetCore.Nuget.Tests.csproj
  Allure.Commons.NetCore.Nuget.Tests/AllureConfigTests.cs
  Allure.Commons.NetCore.Nuget.Tests/allureConfig.json
  Allure.Commons.sln
  Allure.SpecFlow.MSTest/Allure.SpecFlow.MSTest.csproj
  Allure.SpecFlow.MSTest/Example.feature
  Allure.SpecFlow.MSTest/Steps.cs
  Allure.SpecFlow.MSTest/allureConfig.json
  Allure.SpecFlow.MSTest/specflow.json
  Allure.Specflow.sln
  Allure.SpecflowPlugin.Nuget.Tests/Allure.SpecflowPlugin.Nuget.Tests.csproj
  Allure.SpecflowPlugin.Nuget.Tests/Allure.feature
  Allure.SpecflowPlugin.Nuget.Tests/App.config
  Allure.SpecflowPlugin.Nuget.Tests/Hooks.cs
  Allure.SpecflowPlugin.Nuget.Tests/Steps.cs
  Allure.SpecflowPlugin.Nuget.Tests/allureConfig.json
  Allure.SpecflowPlugin.Nuget.Tests/specflow.json
  Nuget.Tests.sln
  allure-csharp.sln
Labels: theme:build

Update nuget.config according to best practices
  nuget.config
Labels: none

Replace stale configurations with Publish
  .github/workflows/publish.yml
  allure-csharp.sln
Labels: theme:workflow, theme:build

Use the default directory to restore packages in CI
  .github/workflows/build.yml
  .github/workflows/publish.yml
Labels: theme:workflow

Reduce the AspectInjector reference to 2.8.1 (#401)
  .github/workflows/publish.yml
  Allure.Net.Commons/Allure.Net.Commons.csproj
Labels: theme:workflow, theme:build, theme:core
