Repository allure-framework/allure-csharp, pull requests merged in 2022-12, with the labels that each got.

#298 Add SkipReason in Xunit test statusDetails
  Allure.XUnit/AllureXunitHelper.cs
Labels: theme:xunit, type:improvement

#306 Allure.NUnit: fix output attachment
  Allure.NUnit.Examples/OutputTest.cs
  Allure.NUnit/Core/AllureNUnitHelper.cs
Labels: theme:nunit, type:bug

#313 Nunit step logging
  Allure.NUnit.Examples/Allure.NUnit.Examples.csproj
  Allure.NUnit.Examples/AllureStepLogTests.cs
  Allure.NUnit/Core/IStepLogger.cs
  Allure.NUnit/Core/StepsHelper.cs
Labels: type:improvement, theme:nunit

#315 Fixed NullPointerException if StepLogger was null
  Allure.NUnit/Core/StepsHelper.cs
Labels: theme:nunit

#314 Add support for async NUnit tests
  Allure.NUnit.Examples/AllureAsyncLifeCycleTests.cs
  Allure.NUnit/Core/AllureExtensions.cs
  Allure.NUnit/Core/AllureNUnitAttribute.cs
  Allure.Net.Commons/AllureLifecycle.cs
  Allure.Net.Commons/Storage/AllureStorage.cs
Labels: theme:core, theme:nunit
