Repository allure-framework/allure-csharp, pull requests merged in 2022-09, with the labels that each got.

#284 Add ability to use custom labels in SpecFlow plugin
  Allure.Features/TestData/Labels.feature
  Allure.Features/allureConfig.json
  Allure.SpecFlowPlugin.Tests/IntegrationTests.cs
  Allure.SpecFlowPlugin/PluginConfiguration.cs
  Allure.SpecFlowPlugin/PluginHelper.cs
  Allure.SpecFlowPlugin/README.md
Labels: theme:specflow

#291 Add AllureId attribute
  Allure.NUnit.Examples/AllureIdTest.cs
  Allure.NUnit/Attributes/AllureIdAttribute.cs
  Allure.NUnit/README.md
Labels: theme:nunit

#294 Xunit AllureIdAttribute should use ALLURE_ID label instead of as_id
  Allure.XUnit/AllureXunitHelper.cs
Labels: theme:xunit
