Repository allure-framework/allure-csharp, pull requests merged in 2022-07, with the labels that each got.

#266 Update release workflow
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: theme:workflow

#268 Update release.yml
  .github/workflows/release.yml
Labels: theme:workflow

#269 Update publish.yml
  .github/workflows/publish.yml
Labels: theme:workflow

#270 Update release.yml
  .github/workflows/release.yml
Labels: theme:workflow

#271 Migration Allure.Xunit
  Allure.XUnit.Examples/Allure.XUnit.Examples.csproj
  Allure.XUnit.Examples/ExampleParameterisedTests.cs
  Allure.XUnit.Examples/ExampleSteps.cs
  Allure.XUnit.Examples/ExampleUnitTests.cs
  Allure.XUnit.Examples/TestData/MyTestClass.cs
  Allure.XUnit.Examples/TestData/TestClassData.cs
  Allure.XUnit.Examples/TestData/TestDataGenerators.cs
  Allure.XUnit.Examples/allureConfig.json
  Allure.XUnit/Allure.XUnit.csproj
  Allure.XUnit/AllureAfter.cs
  Allure.XUnit/AllureAttachments.cs
  Allure.XUnit/AllureBefore.cs
  Allure.XUnit/AllureMessageBus.cs
  Allure.XUnit/AllureStep.cs
  Allure.XUnit/AllureStepBase.cs
  Allure.XUnit/AllureXunitDiscover.cs
  Allure.XUnit/AllureXunitHelper.cs
  Allure.XUnit/AllureXunitTestCase.cs
  Allure.XUnit/AllureXunitTheoryDiscover.cs
  Allure.XUnit/Attributes/AllureAttribute.cs
  Allure.XUnit/Attributes/AllureDescriptionAttribute.cs
  Allure.XUnit/Attributes/AllureEpicAttribute.cs
  Allure.XUnit/Attributes/AllureFeatureAttribute.cs
  Allure.XUnit/Attributes/AllureIdAttribute.cs
  Allure.XUnit/Attributes/AllureIssueAttribute.cs
  Allure.XUnit/Attributes/AllureLabelAttribute.cs
  Allure.XUnit/Attributes/AllureLinkAttribute.cs
  Allure.XUnit/Attributes/AllureOwnerAttribute.cs
  Allure.XUnit/Attributes/AllureParentSuiteAttribute.cs
  Allure.XUnit/Attributes/AllureSeverityAttribute.cs
  Allure.XUnit/Attributes/AllureStoryAttribute.cs
  Allure.XUnit/Attributes/AllureSubSuiteAttribute.cs
  Allure.XUnit/Attributes/AllureSuiteAttribute.cs
  Allure.XUnit/Attributes/AllureTagAttribute.cs
  Allure.XUnit/Attributes/AllureXunitAttribute.cs
  Allure.XUnit/Attributes/AllureXunitTheoryAttribute.cs
  Allure.XUnit/IAllureInfo.cs
  Allure.XUnit/ITestResultAccessor.cs
  Allure.XUnit/README.md
  Allure.XUnit/StepFailedException.cs
  Allure.XUnit/Steps.cs
  README.md
  allure-csharp.sln
Labels: theme:build, theme:xunit

#273 Steps for Allure.XUnit
  Allure.XUnit.Examples/ExampleStepAttributes.cs
  Allure.XUnit.Examples/ExampleSteps.cs
  Allure.XUnit/Allure.XUnit.csproj
  Allure.XUnit/AllureAfter.cs
  Allure.XUnit/AllureAttachments.cs
  Allure.XUnit/AllureBefore.cs
  Allure.XUnit/AllureStep.cs
  Allure.XUnit/AllureStepAspect.cs
  Allure.XUnit/AllureStepBase.cs
  Allure.XUnit/Attributes/Steps/AllureAfterAttribute.cs
  Allure.XUnit/Attributes/Steps/AllureBeforeAttribute.cs
  Allure.XUnit/Attributes/Steps/AllureStepAttribute.cs
  Allure.XUnit/Attributes/Steps/AllureStepBaseAttribute.cs
  Allure.XUnit/Attributes/Steps/NameAttribute.cs
  Allure.XUnit/Attributes/Steps/SkipAttribute.cs
  Allure.XUnit/README.md
  Allure.XUnit/Steps.cs
Labels: theme:build, theme:xunit, type:improvement, type:internal

#274 GitHub Actions - add Allure.XUnit to publish pipeline
  .github/dependabot.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: theme:workflow

#275 Fix Allure.XUnit symbols
  Allure.XUnit/Allure.XUnit.csproj
Labels: theme:build, theme:xunit

#278 XUnit steps refactoring
  Allure.Net.Commons/Allure.Net.Commons.csproj
  Allure.Net.Commons/AllureLifecycle.cs
  Allure.Net.Commons/README.md
  Allure.Net.Commons/Writer/FileSystemResultsWriter.cs
  Allure.SpecFlowPlugin/Allure.SpecFlowPlugin.csproj
  Allure.SpecFlowPlugin/README.md
  Allure.XUnit.Examples/ExampleStepAttributes.cs
  Allure.XUnit.Examples/ExampleSteps.cs
  Allure.XUnit/Allure.XUnit.csproj
  Allure.XUnit/AllureAfter.cs
  Allure.XUnit/AllureAttachments.cs
  Allure.XUnit/AllureBefore.cs
  Allure.XUnit/AllureMessageBus.cs
  Allure.XUnit/AllureStep.cs
  Allure.XUnit/AllureStepAspect.cs
  Allure.XUnit/AllureStepBase.cs
  Allure.XUnit/AllureXunitHelper.cs
  Allure.XUnit/AllureXunitTestCase.cs
  Allure.XUnit/Attachments.cs
  Allure.XUnit/Attributes/Steps/AllureBeforeAttribute.cs
  Allure.XUnit/Steps.cs
  README.md
Labels: theme:build, theme:specflow, theme:core, theme:xunit

#280 Add Allure.NUnit package
  .github/workflows/release.yml
  Allure.NUnit.Examples/Allure.NUnit.Examples.csproj
  Allure.NUnit.Examples/AllureAttachmentsTest.cs
  Allure.NUnit.Examples/AllureBehaviorsTest.cs
  Allure.NUnit.Examples/AllureDiffTest.cs
  Allure.NUnit.Examples/AllureIgnoredTest.cs
  Allure.NUnit.Examples/AllureLabelTest.cs
  Allure.NUnit.Examples/AllureLinkTest.cs
  Allure.NUnit.Examples/AllureParametrizedTest.cs
  Allure.NUnit.Examples/AllureSetUpTearDownTest.cs
  Allure.NUnit.Examples/AllureSimpleTest.cs
  Allure.NUnit.Examples/AllureStepTest.cs
  Allure.NUnit.Examples/BaseTest.cs
  Allure.NUnit.Examples/allureConfig.json
  Allure.NUnit/Allure.NUnit.csproj
  Allure.NUnit/Attributes/AllureDescriptionAttribute.cs
  Allure.NUnit/Attributes/AllureDisplayIgnoredAttribute.cs
  Allure.NUnit/Attributes/AllureEpicAttribute.cs
  Allure.NUnit/Attributes/AllureFeatureAttribute.cs
  Allure.NUnit/Attributes/AllureIssueAttribute.cs
  Allure.NUnit/Attributes/AllureLabelAttribute.cs
  Allure.NUnit/Attributes/AllureLinkAttribute.cs
  Allure.NUnit/Attributes/AllureNameAttribute.cs
  Allure.NUnit/Attributes/AllureOwnerAttribute.cs
  Allure.NUnit/Attributes/AllureParentSuiteAttribute.cs
  Allure.NUnit/Attributes/AllureSeverityAttribute.cs
  Allure.NUnit/Attributes/AllureStepAttribute.cs
  Allure.NUnit/Attributes/AllureStoryAttribute.cs
  Allure.NUnit/Attributes/AllureSubSuiteAttribute.cs
  Allure.NUnit/Attributes/AllureSuiteAttribute.cs
  Allure.NUnit/Attributes/AllureTagAttribute.cs
  Allure.NUnit/Attributes/AllureTestCaseAttribute.cs
  Allure.NUnit/Attributes/AllureTmsAttribute.cs
  Allure.NUnit/Core/AllureExtendedConfiguration.cs
  Allure.NUnit/Core/AllureExtensions.cs
  Allure.NUnit/Core/AllureNUnitAttribute.cs
  Allure.NUnit/Core/AllureNUnitHelper.cs
  Allure.NUnit/Core/Steps/AllureStepAspect.cs
  Allure.NUnit/Core/Steps/AllureStepParameterHelper.cs
  Allure.NUnit/LICENSE.md
  Allure.NUnit/README.md
  Allure.NUnit/allureConfig.json
  Allure.Net.Commons/Allure.Net.Commons.csproj
  Allure.SpecFlowPlugin/Allure.SpecFlowPlugin.csproj
  Allure.XUnit/Allure.XUnit.csproj
  README.md
  allure-csharp.sln
  img/Allure-Color.png
  img/Allure-N-Color.png
  img/Allure-SF-Color.png
  img/Allure-X-Color.png
  img/allure-net.png
  img/allure-specflow.png
Labels: theme:build, theme:specflow, theme:workflow, theme:core, theme:xunit, type:internal, type:new feature, theme:nunit

#282 Update release.yml
  .github/workflows/release.yml
Labels: theme:workflow

#283 Update release.yml
  .github/workflows/release.yml
Labels: theme:workflow
