Repository allure-framework/allure-csharp, pull requests merged in 2023-11, with the labels that each got.

#411 Fix small syntax error in README.md
  Allure.XUnit/README.md
Labels: theme:xunit, type:documentation

#414 Runtime API
  Allure.Features/Steps.cs
  Allure.NUnit.Examples/AllureAsyncLifeCycleTests.cs
  Allure.NUnit.Examples/AllureDiffTest.cs
  Allure.NUnit.Examples/AllureLabelTest.cs
  Allure.NUnit.Examples/AllureLinkTest.cs
  Allure.NUnit.Examples/AllureSetUpTearDownTest.cs
  Allure.NUnit.Examples/AllureStepLogTests.cs
  Allure.NUnit.Examples/AllureStepTest.cs
  Allure.NUnit/Attachments.cs
  Allure.NUnit/Core/AllureNUnitHelper.cs
  Allure.NUnit/Core/StepsHelper.cs
  Allure.NUnit/README.md
  Allure.NUnit/Schemas/allureConfig.schema.json
  Allure.Net.Commons.Tests/AllureLifeCycleTest.cs
  Allure.Net.Commons.Tests/AssertionHelpers/LabelEqualityComparer.cs
  Allure.Net.Commons.Tests/AssertionHelpers/LinkEqualityComparer.cs
  Allure.Net.Commons.Tests/AssertionHelpers/ParameterEqualityComparer.cs
  Allure.Net.Commons.Tests/FunctionTests/IdTests.cs
  Allure.Net.Commons.Tests/ModelExtensionTests/TestResultExtensionTests.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/AllureApiTestFixture.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/BddTests.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/LinkTests.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/MetadataTests.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/ParameterTests.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/StepTests/LambdaFixtureTests.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/StepTests/LambdaStepTests.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/StepTests/StepAspectHelperTests.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/SuiteTests.cs
  Allure.Net.Commons/Allure.Net.Commons.csproj
  Allure.Net.Commons/AllureApi.cs
  Allure.Net.Commons/AllureLifecycle.cs
  Allure.Net.Commons/Configuration/AllureConfiguration.cs
  Allure.Net.Commons/ExtendedApi.cs
  Allure.Net.Commons/Functions/FormatFunctions.cs
  Allure.Net.Commons/Functions/IdFunctions.cs
  Allure.Net.Commons/Model/allure2.Designer.cs
  Allure.Net.Commons/Model/allure2.Extensions.cs
  Allure.Net.Commons/Model/allure2.xsd
  Allure.Net.Commons/README.md
  Allure.Net.Commons/Schemas/allureConfig.schema.json
  Allure.Net.Commons/Schemas/testplan.schema.json
  Allure.Net.Commons/Steps/AllureStepAspect.cs
  Allure.Net.Commons/Steps/CoreStepsHelper.cs
  Allure.Net.Commons/Writer/FileSystemResultsWriter.cs
  Allure.SpecFlowPlugin/AllureTestTracerWrapper.cs
  Allure.SpecFlowPlugin/PluginHelper.cs
  Allure.SpecFlowPlugin/README.md
  Allure.SpecFlowPlugin/Schemas/allureConfig.schema.json
  Allure.SpecFlowPlugin/SelectiveRun/SelectiveRunTestRunner.cs
  Allure.XUnit.Examples/ExampleUnitTests.cs
  Allure.XUnit/AllureStepBase.cs
  Allure.XUnit/AllureXunitHelper.cs
  Allure.XUnit/Attachments.cs
  Allure.XUnit/README.md
  Allure.XUnit/Schemas/allureConfig.schema.json
  Allure.XUnit/Steps.cs
Labels: theme:build, theme:specflow, theme:core, theme:xunit, theme:nunit, type:improvement

#437 Allow SpecFlow to continue even if Harmony patch fails
  Allure.SpecFlowPlugin/AllureBindingInvoker.cs
  Allure.SpecFlowPlugin/SelectiveRun/AllureSpecFlowPatcher.cs
Labels: theme:specflow, type:improvement
