Repository allure-framework/allure-csharp, pull requests merged in 2024-03, with the labels that each got.

#449 Update Harmony and MonoMod to support .NET 8
  Allure.SpecFlowPlugin/Allure.SpecFlowPlugin.csproj
  Allure.XUnit/Allure.XUnit.csproj
Labels: type:dependencies, theme:build, theme:specflow, theme:xunit

#450 Fix crash when unable to serialize test parameter (#448)
  Allure.Net.Commons/Functions/FormatFunctions.cs
Labels: theme:core

#455 #441 - Fix exit code 1 if Harmony patching failled
  Allure.XUnit/AllureXunitPatcher.cs
Labels: theme:xunit, type:bug

#459 Improvements of Allure.Net.Commons
  Allure.NUnit/Core/AllureNUnitHelper.cs
  Allure.NUnit/Core/StepsHelper.cs
  Allure.Net.Commons.Tests/AllureLifeCycleTest.cs
  Allure.Net.Commons.Tests/ConcurrencyTests.cs
  Allure.Net.Commons.Tests/DataGenerator.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/AllureApiTestFixture.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/AttachmentTests.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/StepTests/ExplicitFixtureAndStepTests.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/StepTests/LambdaApiTestFixture.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/StepTests/LambdaFixtureTests.cs
  Allure.Net.Commons.Tests/UserAPITests/AllureFacadeTests/StepTests/LambdaStepTests.cs
  Allure.Net.Commons/AllureApi.cs
  Allure.Net.Commons/AllureLifecycle.cs
  Allure.Net.Commons/Configuration/AllureConfiguration.cs
  Allure.Net.Commons/ExtendedApi.cs
  Allure.Net.Commons/Functions/ModelFunctions.cs
  Allure.Net.Commons/README.md
  Allure.Net.Commons/Schemas/allureConfig.schema.json
  Allure.Net.Commons/Steps/AllureStepAspect.cs
  Allure.Net.Commons/Steps/AllureStepAttributes.cs
  Allure.Net.Commons/Steps/CoreStepsHelper.cs
  Allure.Net.Commons/Steps/IStepLogger.cs
  Allure.Net.Commons/Steps/StepFailedException.cs
  Allure.Net.Commons/Storage/AllureStorage.cs
  Allure.Net.Commons/Storage/ITestResultAccessor.cs
  Allure.Net.Commons/TestPlan/AllureTestPlan.cs
  Allure.SpecFlowPlugin/PluginHelper.cs
  Allure.XUnit/AllureAfter.cs
  Allure.XUnit/AllureAttachments.cs
  Allure.XUnit/AllureBefore.cs
  Allure.XUnit/AllureStep.cs
  Allure.XUnit/AllureXunitHelper.cs
  Allure.XUnit/Steps.cs
Labels: theme:build, theme:specflow, theme:workflow, theme:core, theme:xunit, theme:nunit, type:improvement

#460 Allure.NUnit improvements
  .github/labeler.yml
  .github/workflows/release.yml
  Allure.NUnit.Examples/AllureAsyncLifeCycleTests.cs
  Allure.NUnit.Examples/AllureAsyncOneTimeSetUpTests.cs
  Allure.NUnit.Examples/AllureAsyncStepTest.cs
  Allure.NUnit.Examples/AllureAttachmentsTest.cs
  Allure.NUnit.Examples/AllureBehaviorsTest.cs
  Allure.NUnit.Examples/AllureDiffTest.cs
  Allure.NUnit.Examples/AllureIdTest.cs
  Allure.NUnit.Examples/AllureIgnoredTest.cs
  Allure.NUnit.Examples/AllureLabelTest.cs
  Allure.NUnit.Examples/AllureLinkTest.cs
  Allure.NUnit.Examples/AllureParametrizedTest.cs
  Allure.NUnit.Examples/AllureSetUpFixture.cs
  Allure.NUnit.Examples/AllureSetUpTearDownTest.cs
  Allure.NUnit.Examples/AllureSimpleTest.cs
  Allure.NUnit.Examples/AllureStepArgumentFormattingTest.cs
  Allure.NUnit.Examples/AllureStepNameInternalsTest.cs
  Allure.NUnit.Examples/AllureStepTest.cs
  Allure.NUnit.Examples/BaseTest.cs
  Allure.NUnit.Examples/CommonSteps/AsyncStepsExamples.cs
  Allure.NUnit.Examples/OutputTest.cs
  Allure.NUnit.Examples/allureConfig.json
  Allure.NUnit/Allure.NUnit.csproj
  Allure.NUnit/AllureNUnitAttribute.cs
  Allure.NUnit/Attachments.cs
  Allure.NUnit/Attributes/AllureAfterAttribute.cs
  Allure.NUnit/Attributes/AllureBeforeAttribute.cs
  Allure.NUnit/Attributes/AllureDescriptionAttribute.cs
  Allure.NUnit/Attributes/AllureDisplayIgnoredAttribute.cs
  Allure.NUnit/Attributes/AllureEpicAttribute.cs
  Allure.NUnit/Attributes/AllureFeatureAttribute.cs
  Allure.NUnit/Attributes/AllureIdAttribute.cs
  Allure.NUnit/Attributes/AllureIssueAttribute.cs
  Allure.NUnit/Attributes/AllureLabelAttribute.cs
  Allure.NUnit/Attributes/AllureLinkAttribute.cs
  Allure.NUnit/Attributes/AllureNameAttribute.cs
  Allure.NUnit/Attributes/AllureOwnerAttribute.cs
  Allure.NUnit/Attributes/AllureParentSuiteAttribute.cs
  Allure.NUnit/Attributes/AllureSeverityAttribute.cs
  Allure.NUnit/Attributes/AllureStepAttribute.cs
  Allure.NUnit/Attributes/AllureStoryAttribute.cs
  Allure.NUnit/Attributes/AllureSubSuiteAttribute.cs
  Allure.NUnit/Attributes/AllureSuiteAttribute.cs
  Allure.NUnit/Attributes/AllureTagAttribute.cs
  Allure.NUnit/Attributes/AllureTestCaseAttribute.cs
  Allure.NUnit/Attributes/AllureTmsAttribute.cs
  Allure.NUnit/Attributes/NameAttribute.cs
  Allure.NUnit/Attributes/SkipAttribute.cs
  Allure.NUnit/Core/AllureExtendedConfiguration.cs
  Allure.NUnit/Core/AllureExtensions.cs
  Allure.NUnit/Core/AllureNUnitHelper.cs
  Allure.NUnit/Core/StepsHelper.cs
  Allure.NUnit/Internals/StopContainerAspect.cs
  Allure.NUnit/OldNamespaceCompatibility.cs
  Allure.NUnit/Schemas/allureConfig.schema.json
  Allure.NUnit/allureConfig.json
Labels: theme:build, theme:workflow, theme:nunit, type:improvement

#462 Allure.SpecFlow improvements
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  Allure.Features/Steps.cs
  Allure.NUnit/README.md
  Allure.Net.Commons/README.md
  Allure.SpecFlow.Tests.Samples/Allure.SpecFlow.Tests.Samples.csproj
  Allure.SpecFlow.Tests.Samples/AssemblyInfo.cs
  Allure.SpecFlow.Tests.Samples/IgnoreException.cs
  Allure.SpecFlow.Tests.Samples/Steps.cs
  Allure.SpecFlow.Tests.Samples/TestData/After Feature Failure.feature
  Allure.SpecFlow.Tests.Samples/TestData/Attachments.feature
  Allure.SpecFlow.Tests.Samples/TestData/Before Feature Failure.feature
  Allure.SpecFlow.Tests.Samples/TestData/Ignored.feature
  Allure.SpecFlow.Tests.Samples/TestData/Invalid Steps.feature
  Allure.SpecFlow.Tests.Samples/TestData/Labels.feature
  Allure.SpecFlow.Tests.Samples/TestData/Scenario Hooks.feature
  Allure.SpecFlow.Tests.Samples/TestData/Scenarios and Steps.feature
  Allure.SpecFlow.Tests.Samples/TestData/Step arguments.feature
  Allure.SpecFlow.Tests.Samples/TestData/Tags.feature
  Allure.SpecFlow.Tests.Samples/TestData/Фича с кириллицей.feature
  Allure.SpecFlow.Tests.Samples/allureConfig.json
  Allure.SpecFlow.Tests.Samples/specflow.json
  Allure.SpecFlow.Tests/Allure.SpecFlow.Tests.csproj
  Allure.SpecFlow.Tests/ConfigurationTests.cs
  Allure.SpecFlow.Tests/IntegrationTests.cs
  Allure.SpecFlow.Tests/TestSetup.cs
  Allure.SpecFlow.Tests/allureConfig.json
  Allure.SpecFlow.Tests/allureConfigStepArguments.json
  Allure.SpecFlow.Tests/allureConfigWithInvalidRegex.json
  Allure.SpecFlow/Allure.SpecFlow.csproj
  Allure.SpecFlow/AllureBindingInvoker.cs
  Allure.SpecFlow/AllureBindings.cs
  Allure.SpecFlow/AllurePlugin.cs
  Allure.SpecFlow/AllureTestTracerWrapper.cs
  Allure.SpecFlow/App.config.transform
  Allure.SpecFlow/PluginConfiguration.cs
  Allure.SpecFlow/PluginHelper.cs
  Allure.SpecFlow/README.md
  Allure.SpecFlow/Schemas/allureConfig.schema.json
  Allure.SpecFlow/SelectiveRun/AllureSpecFlowPatcher.cs
  Allure.SpecFlow/SelectiveRun/SelectiveRunTestRunner.cs
  Allure.SpecFlow/allureConfig.Template.json
  Allure.SpecFlowPlugin.Tests/ConfigurationTests.cs
  Allure.SpecFlowPlugin.Tests/IntegrationTests.cs
  Allure.SpecFlowPlugin.Tests/TestSetup.cs
  Allure.Xunit/README.md
  README.md
  allure-csharp.sln
Labels: theme:build, theme:specflow, theme:workflow, theme:core, theme:xunit, theme:nunit, type:improvement

#463 Reqnroll adapter
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  Allure.Reqnroll.Tests.Samples/Allure.Reqnroll.Tests.Samples.csproj
  Allure.Reqnroll.Tests.Samples/BindingDefinitions.cs
  Allure.Reqnroll.Tests.Samples/Features/After Feature Failure.feature
  Allure.Reqnroll.Tests.Samples/Features/Attachments.feature
  Allure.Reqnroll.Tests.Samples/Features/Before Feature Failure.feature
  Allure.Reqnroll.Tests.Samples/Features/Ignored.feature
  Allure.Reqnroll.Tests.Samples/Features/Invalid Steps.feature
  Allure.Reqnroll.Tests.Samples/Features/Labels.feature
  Allure.Reqnroll.Tests.Samples/Features/Scenario Hooks.feature
  Allure.Reqnroll.Tests.Samples/Features/Scenarios and Steps.feature
  Allure.Reqnroll.Tests.Samples/Features/Step arguments.feature
  Allure.Reqnroll.Tests.Samples/Features/Tags.feature
  Allure.Reqnroll.Tests.Samples/allureConfig.json
  Allure.Reqnroll.Tests/Allure.Reqnroll.Tests.csproj
  Allure.Reqnroll.Tests/Integration/IntegrationTests.cs
  Allure.Reqnroll.Tests/Integration/TestSetup.cs
  Allure.Reqnroll.Tests/Unit/ConfigurationTests.cs
  Allure.Reqnroll/Allure.Reqnroll.csproj
  Allure.Reqnroll/AllurePlugin.cs
  Allure.Reqnroll/Configuration/AllureReqnrollConfiguration.cs
  Allure.Reqnroll/Configuration/DefaultPatterns.cs
  Allure.Reqnroll/Configuration/WholeLineRegexConverter.cs
  Allure.Reqnroll/Events/AllureReqnrollEventHandler.cs
  Allure.Reqnroll/Events/FeatureFinishedEventHandler.cs
  Allure.Reqnroll/Events/HookBindingFinishedEventHandler.cs
  Allure.Reqnroll/Events/HookBindingStartedEventHandler.cs
  Allure.Reqnroll/Events/HookFinishedEventHandler.cs
  Allure.Reqnroll/Events/HookStartedEventHandler.cs
  Allure.Reqnroll/Events/ScenarioFinishedEventHandler.cs
  Allure.Reqnroll/Events/StepFinishedEventHandler.cs
  Allure.Reqnroll/Events/StepStartedEventHandler.cs
  Allure.Reqnroll/Events/TestRunStartedEventHandler.cs
  Allure.Reqnroll/Functions/ExceptionFunctions.cs
  Allure.Reqnroll/Functions/MappingFunctions.cs
  Allure.Reqnroll/Internal/AssemblyAttributes.cs
  Allure.Reqnroll/Internal/IsExternalInit.cs
  Allure.Reqnroll/README.md
  Allure.Reqnroll/Schemas/allureConfig.schema.json
  Allure.Reqnroll/SelectiveRun/TestPlanAwareTestRunner.cs
  Allure.Reqnroll/State/AllureReqnrollStateFacade.cs
  Allure.Reqnroll/State/CrossBindingContextTransport.cs
  Allure.Reqnroll/State/StateSnapshot.cs
  Allure.Reqnroll/allureConfig.Template.json
  README.md
  allure-csharp.sln
Labels: theme:build, theme:workflow, type:new feature, theme:reqnroll
