Repository allure-framework/allure-csharp, pull requests merged in 2024-06, with the labels that each got.

#509 Bump Reqnroll to version 2.0.0
  Allure.Reqnroll.Tests.Samples/Allure.Reqnroll.Tests.Samples.csproj
  Allure.Reqnroll/Allure.Reqnroll.csproj
  Allure.Reqnroll/AllurePlugin.cs
  Allure.Reqnroll/SelectiveRun/TestPlanAwareTestRunner.cs
Labels: theme:build, theme:reqnroll

#501 Adding NUnit MultipleAssertException to default fail exceptions
  Allure.NUnit/Core/AllureNUnitHelper.cs
  Allure.Reqnroll/State/AllureReqnrollStateFacade.cs
  Allure.SpecFlow/AllureBindingInvoker.cs
Labels: theme:specflow, theme:nunit, theme:reqnroll

#478 NuGet packages: fix invalid release notes link and READMEs
  .github/workflows/release.yml
  Allure.NUnit/README.md
  Allure.Net.Commons/README.md
  Allure.Reqnroll/README.md
  Allure.SpecFlow/README.md
  Allure.Xunit/README.md
  Directory.Build.targets
  README.md
  build/TransformReadmeForNuget.cs
  img/allure-report_85.png
  img/allure-step-all.PNG
  img/wiki-step-all.PNG
Labels: theme:specflow, theme:workflow, theme:core, theme:xunit, type:internal, theme:nunit, theme:reqnroll
