Repository allure-framework/allure-csharp, pull requests merged in 2025-08, with the labels that each got.

#566 Fix #518: resolve GetTestFixture method reliability issues
  Allure.NUnit/Core/AllureNUnitHelper.cs
Labels: theme:nunit

#571 fix(nunit): remove assembly qualified names from fullName
  Allure.Net.Commons.Tests/FunctionTests/IdTests.cs
  Allure.Net.Commons/Functions/IdFunctions.cs
Labels: theme:core, type:bug

#574 feat(nunit, xunit, specflow, reqnroll): titlePath
  Allure.NUnit/Core/AllureNUnitHelper.cs
  Allure.Net.Commons.Tests/FunctionTests/IdTests.cs
  Allure.Net.Commons.Tests/FunctionTests/TitlePathTests.cs
  Allure.Net.Commons/Functions/IdFunctions.cs
  Allure.Net.Commons/Model/allure2.Designer.cs
  Allure.Net.Commons/Model/allure2.xsd
  Allure.Reqnroll/Functions/MappingFunctions.cs
  Allure.SpecFlow/PluginHelper.cs
  Allure.Xunit/AllureXunitHelper.cs
Labels: theme:specflow, theme:core, theme:xunit, theme:nunit, type:new feature, theme:reqnroll

#578 feat(nunit, xunit): set the default suites hierarchy for test results
  Allure.NUnit/Attributes/AllureDisplayIgnoredAttribute.cs
  Allure.NUnit/Core/AllureNUnitHelper.cs
  Allure.Net.Commons.Tests/FunctionTests/ModelFunctionTests/DefaultSuiteTests.cs
  Allure.Net.Commons/Functions/ModelFunctions.cs
  Allure.Xunit/AllureMessageSink.cs
  Allure.Xunit/AllureXunitHelper.cs
Labels: theme:core, theme:xunit, theme:nunit, type:new feature
